@charset "UTF-8";
.cursor:hover { cursor: pointer; }

@media screen and (min-width: 640px) { .color-c { color: #000; transition: all .5s; }
  .color-c:hover { color: #16a1e7; }
  .color-c2 { color: #444; transition: all .5s; }
  .color-c2:hover { color: #16a1e7; }
  .colorback-c { transition: all .5s; color: #fff; background: #16a1e7; }
  .colorback-c:hover { color: #16a1e7; background: #fff; }
  .colorback-c2 { transition: all .5s; color: #16a1e7; background: #fff; }
  .colorback-c2:hover { color: #fff; background: #16a1e7; }
  .colorback-c3 { color: #16a1e7; transition: all .5s; background: #fff; }
  .colorback-c3:hover { color: #fff; background: #16a1e7; }
  .img-zoom { transition: all .5s; }
  .img-zoom img { transition: all .5s; }
  .img-zoom:hover { opacity: 0.6; }
  .img-zoom:hover img { transform: scale(1.1); }
  .opa8 { transition: all .5s; }
  .opa8:hover { opacity: 0.8; }
  .opa6 { transition: all .5s; }
  .opa6:hover { opacity: 0.6; }
  .underline { transition: all .5s; }
  .underline:hover { text-decoration: underline; }
  .auther-hover { transition: all .5s; }
  .auther-hover .photo { transition: all .5s; }
  .auther-hover .name { transition: all .5s; color: #000; }
  .auther-hover:hover .photo { opacity: 0.6; }
  .auther-hover:hover .name { color: #16a1e7; }
  /*回転*/
  .rote { transition: all .5s; }
  .rote:hover { transform: scale(1.2); }
  /* 色変化 */
  .hvr-rectangle-out { vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; background: #fff; color: #16a1e7; -webkit-transition-property: color; transition-property: color; -webkit-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .hvr-rectangle-out:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #16a1e7; -webkit-transform: scale(0); transform: scale(0); -webkit-transition-property: transform; transition-property: transform; -webkit-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active { color: #fff; }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before { -webkit-transform: scale(1); transform: scale(1); }
  /* ハンバーガーホバー */
  .hvr-grow-shadow { vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: box-shadow, transform; transition-property: box-shadow, transform; }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active { box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); -webkit-transform: scale(1.1); transform: scale(1.1); } }
@media screen and (max-width: 640px) { .hvr-rectangle-out { vertical-align: middle; position: relative; background: #fff; color: #16a1e7; }
  .color-c { color: #000; }
  .colorback-c { color: #fff; background: #16a1e7; }
  .colorback-c2 { color: #16a1e7; background: #fff; }
  .colorback-c3 { color: #444; background: #fff; }
  .auther-hover .name { color: #000; } }
