@charset "utf-8";
@import "variable.scss";
@import "mixin.scss";

.page-wrap{
  width:$pc-size;
  margin:0 auto;
  article{
    float:left;
    width:700px;
    margin:20px 30px 0 0;
    .report-wrap{
      border:1px solid $gray-color;
      box-sizing: border-box;
      h1{
        margin:20px;
        font-size:24px;
        line-height:1.6;
        font-weight: 500;
      }
      .share{
        margin:0 20px;
        li{
          margin:0 10px 0 0;
          &:last-child{
            margin:0;
          }
        }
      }
      .report-auther{
        padding:10px;
        background: $gray-color;
        .title{
          font-size:16px;
          color:#a2a2a2;
          padding:0 10px 0 0;
        }
        .auther{
          .photo{
            img{
              border-radius: 50%;
            }
          }
          .name{
            padding: 0 0 0 10px;
            font-size:16px;
            font-weight: 500;
            line-height:68px;
          }
        }
        .date{
          span{
            display: block;
            height:34px;
            min-width:120px;
            &.janru{
              background: $main-color;
              font-size:14px;
              a{
                display: block;
                width:100%;
                height:100%;
                color:#fff;
                padding:10px;
                box-sizing: border-box;
              }
            }
            &.number{
              font-size:20px;
              font-weight: 500;
              padding:10px 0 0;
              box-sizing: border-box;
            }
          }
        }
      }
      .report-detail{
        padding:15px;
        h2{
          font-size:18px;
          line-height: 1.6;
          margin:15px 0 24px;
          padding:2px 0 2px 10px;
          border-left:10px solid $main-color;
        }
        h3{
          font-size:16px;
          padding:10px 0 15px;
        }
        p{
          font-size:14px;
          padding:0 0 20px;
          line-height: 1.714285714;
        }
        .italic{
          font-size:12px;
          line-height:2;
          color:#666;
          font-style: italic;
        }
        .comment{
          padding:0 0 10px;
          img{
            padding:0 0 10px;
          }
        }
        strong{

        }
        a{
          color:$main-color;
        }
        img{
          width:100%;
        }
        hr{
          background-color: #ccc;
          border: 0;
          height: 1px;
          margin: 24px;
        }
        //文字色
        .blue{
          color:#1c4bfd;
        }
        .skyblue{
          color:#50bef6;
        }
        .red{
          color:#ec2929;
        }
        .pink{
          color:#e22a9e;
        }
        .yellow{
          color:#f5f314;
        }
        .orange{
          color:#fda929;
        }
        .green1{
          color:#1df459;
        }
        .green2{
          color:#0a9f34;
        }
        .report-category{
          p{
            &.title{
              background: $main-color;
              padding:5px;
              margin:0 10px;
              color:#fff;
            }
            &.title-link{
              padding:5px;
              a{
                color:#000;
              }
            }
            &.tag-link{
              padding:5px 0;
              a{
                color:#000;
              }
              &:after{
                content:",";
                margin:0 5px;
              }
              &:last-child{
                &:after{
                  content:"";
                  padding:0;
                }
              }
            }
          }
        }//report-category
      }
      .report-profile{
        border-bottom: 2px solid $gray-color;
        margin:0 15px 15px;
        padding:15px 0;
        .photo{
          width:68px;
          margin:0 20px 0 0;
          img{
            border-radius: 50%;
          }
        }
        .text-wrap{
          width:560px;
          color:#757575;
          line-height: 1.846153846;
          h2{
            font-size:16px;
          }
          .profile{
            font-size:13px;
          }
          .auther-link{
            font-size:13px;
            a{
              color:$main-color;
            }
          }
          .auther-sns{
            a{
              display: inline-block;
              color:#fff;
              margin: 5px 15px 5px 0;
              padding:2px 5px;
              border-radius: 5px;
              &.facebook{
                background:#3b5998;
              }
              &.twitter{
                background:#2aa9de;
              }
              i{
                padding:0 0 0 10px;
              }
              span{
                padding:0 10px;
              }
            }
          }
        }
      }//report-profile
      .page-btn{
          padding:0 15px 15px;
        .prev-btn{
          width:325px;
          .prev-title{
            position: relative;
            padding:5px 0;
            font-size:15px;
            color:#fff;
            background: $main-color;
            &:after{
              content:"<";
              font-size:20px;
              position: absolute;
              top:0;
              left:25px;
            }
          }
          .btn-text{
            height:5em;
            padding:10px;
            font-size:14px;
            color:#000;
            line-height:1.6;
            border:1px solid $main-color;
          }
        }
        .next-btn{
          width:325px;
          .next-title{
            position: relative;
            padding:5px 0;
            font-size:15px;
            color:#fff;
            background: $main-color;
            &:after{
              content:">";
              font-size:20px;
              position: absolute;
              top:0;
              right:25px;
            }
          }
          .btn-text{
            height:5em;
            padding:10px;
            font-size:14px;
            color:#000;
            line-height:1.6;
            border:1px solid $main-color;
          }
        }
      }
    }
  }//article
}
@media screen and (max-width: 640px) {
  .page-wrap{
    width: $sp-size;
    margin:10px 0 0;
    article{
      float:none;
      width:95%;
      margin:0 auto;
      .report-wrap{
        h1{
          margin:15px;
          font-size:20px;
          line-height:1.3;
        }
        .share{
          margin:0 15px;
        }
        .report-auther{
          .title{
            display: none;
          }
          .auther{
            float:none;
            margin:0 5px;
            .photo{
              img{
                width:44px;
              }
            }
            .name{
              font-size:16px;
              line-height:44px;
            }
          }
          .date{
            display: none;
          }
        }
        .report-detail{
          h2{
            font-size:15px;
            margin:10px 0 18px;
          }
          h3{
            font-size:14px;
          }
          p{
            font-size:13px;
            padding:0 0 15px;
          }
          .italic{
            font-size:10px;
          }
          .report-category{
            .category{
              margin:10px 0;
            }
            .category:after,.tag:after{
              content: "";
              display: block;
              clear: both;
            }
          }//report-category
          .linkcard {
            margin-right: 0;
          }
        }
        //投稿者
        .report-profile{
          position: relative;
          margin:0;
          padding:15px;
          .text-wrap{
            width:100%;
            margin:10px 0 0;
            font-size:12px;
            h2{
              font-size:13px;
              position: absolute;
              top:40px;
              left:100px
            }
            .auther-sns{
            }
          }
        }//report-profile
        .page-btn{
            padding:0;
          .prev-btn{
            width:100%;
            .prev-title{
            }
            .btn-text{
            }
          }
          .next-btn{
            width:100%;
            margin:15px 0;
            .next-title{
            }
          }
        }
      }
    }
  }
}
.sns-header, .sns-footer {
	padding: 0;
}
.sns-area {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	table-layout: fixed;
	display: table;
	width: 100%;
}
.sns-area i{
  padding:0 5px 0 0;
}
.sns-area .hatena::before{
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
  margin:0 5px 0 0;
}
.sns-area li {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
}
.sns-area li:last-child {
	margin-right: 0
}
.sns-link {
	position: relative;
	display: block;
	color: #fff !important;
	text-align: center;
	text-decoration: none;
	outline: none;
	overflow: hidden;
	height: 42px;
	line-height: 42px;
}
.sns-link::after {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background-color: rgba(255, 255, 255, .3);
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.sns-link:hover {
	text-decoration: none;
}
a.sns-link:hover {
	color: #fff;
}
.sns-link:hover::after {
	-webkit-animation: circle 1s;
	animation: circle 1s;
}
@-webkit-keyframes circle {
	50% {
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
	}
}
@keyframes circle {
	50% {
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
	}
}
.sns-twitter {
	color: #fff;
	background: #55acee;
}
.sns-facebook {
	color: #fff;
	background: #3a5795;
}
.sns-bookmark {
	color: #fff;
	background: #00A5DE;
}
.sns-googleplus {
	color: #fff;
	background: #db4a39;
}
.sns-pocket {
	color: #fff;
	background: #EE4256;
}
.blogicon-twitter, .blogicon-facebook, .blogicon-bookmark, .fa fa-google-plus, .blogicon-chevron-down {
	margin-right: 5px;
}
.share-text {
	padding-left: 4px;
}
@media only screen and (max-width: 640px) {
	.share-text, .sns-txt {
		display: none;
	}
	.blogicon-twitter, .blogicon-facebook, .blogicon-bookmark, .fa fa-google-plus, .blogicon-chevron-down {
		margin-right: 0;
	}
}
